name: Create Databricks Job
 
on:
  push:
    branches: ["main"]
 
jobs:
  create-and-run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
 
      - name: Setup Databricks CLI
        uses: databricks/setup-cli@main
 
      - name: Create and Run Job
        run: |
          export DATABRICKS_HOST="https://adb-1670050298591902.2.azuredatabricks.net/"
          export DATABRICKS_TOKEN="dapi43bfe94722db1bd799eabea16d019378-3"
          JOB_JSON=$(databricks jobs create --json @pipeline_config/pipeline-validation-workflow.json --output json)
          JOB_ID=$(echo "$JOB_JSON" | jq -r '.job_id')
          databricks jobs run-now "$JOB_ID"
