name: Create jb
 
on:
  #push:
    #branches: ["main"]
 
jobs:
  run-notebook:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
 
      - name: Setup Databricks CLI
        uses: databricks/setup-cli@main
 
      - name: Create and Run Job
        run: |
          export DATABRICKS_HOST="https://adb-1670050298591902.2.azuredatabricks.net"
          export DATABRICKS_TOKEN="dapi43bfe94722db1bd799eabea16d019378-3"
          # Create a job that runs the imported notebook
          JOB_ID=$(databricks jobs create --json @src_folder/creation_job.json | jq -r '.job_id')
          # Run the job
          databricks jobs run-now "$JOB_ID"
